@tailwind base;
@tailwind components;
body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #0f1B21;

}
.boxes img{
    margin: 50px 50px;
}

/* .title img{
    padding: 20px 20px ;
    height: 80px;
} */

@tailwind utilities;
